$brown: #3E1614;
$pink-dark: #F5876C;
$green: #B7D236;
$yellow: #FDCE52;
$blue: #68BEAC;

.green{background-color: $green;}

.pink-dark{background-color: $pink-dark;}

.blue{background-color: $blue;}

.yellow{background-color: $yellow;}

.brown{background-color: $brown;}
