// buttons:

#nav {
	p{
		margin:0px;
	}
	.button{
		&.medium{text-align: left; margin:0px; width: 242px;}
	}
}

.button {
	transition: background-color 200ms ease-out; 
	@include inset-shadow($active:false);
	&.small{
		font-family: 'Glegoo'; 
		font-weight: normal; 
		font-size:.91em; 
		padding: .6em .7em;
	}
	&.medium{
		font-family: 'Swirls'; 
		font-size:1.3em; 
		padding: .45em .6em;
	}
	&.large{padding: .6em .7em;
	}
	&.green:hover{background-color: darken($green, $button-function-factor2)}
	&.pink-dark:hover{background-color: darken($pink-dark, $button-function-factor2)}
	&.blue:hover{background-color: darken($blue, $button-function-factor2)}
	&.yellow:hover{background-color: darken($yellow, $button-function-factor2)}
	&.brown:hover{background-color: lighten($brown, $button-function-factor2)}
}

